In [4]:
# Import the libraries
import pandas as pd

# Load the data
df = pd.read_csv('fifa21_raw_data_v2.csv', engine='python')

In [6]:
# Describe the data
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [8]:
list(df.isna().sum())

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 17966,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2595]

In [10]:
# Fixing Loan Date End
df["Loan Date End"].fillna("Not Present",inplace=True)

/var/folders/r5/2dww6ljn1hq0shfh_ypkkhth0000gn/T/ipykernel_27340/1798496582.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Loan Date End"].fillna("Not Present",inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     18979 non-null  object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [14]:
# Create a function for height to be in cm only
def convertWeight(weight):
    if isinstance(weight, str):  
        if 'lbs' in weight:
            weight = weight.lower().replace('lbs', '').strip() 
            lbs = float(weight)  
            kg = lbs * 0.453592 
        elif 'kg' in weight:
            kg = weight.lower().replace('kg', '').strip()      
    return kg
    
# Create a function for weight to be in kg only
def convertHeight(height):
    if 'cm' in height:
        return float(height.replace('cm', ''))
    elif '\'' in height and '\"' in height:
        feet, inches = height.split("'")
        inches = inches.strip('"')
        feet = int(feet)
        inches = int(inches)
        total_inches = feet * 12 + inches
        return total_inches * 2.54

In [16]:
df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [18]:
df['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [20]:
df['Height'] = df['Height'].apply(convertHeight)
df['Weight'] = df['Weight'].apply(convertWeight)

In [22]:
df['Weight'].unique()

array(['72', '83', '87', '70', '68', '80', '71', '91', '73', '85', '92',
       '69', '84', '96', '81', '82', '75', '86', '89', '74', '76', '64',
       '78', '90', '66', '60', '94', '79', '67', '65', '59', '61', '93',
       '88', '97', '77', '62', '63', '95', '100', '58', 83.007336,
       81.192968, 78.017824, 88.904032, 79.83219199999999, 83.91452,
       77.11064, 92.079176, 76.203456, 73.028312, 66.224432, 58.96696,
       86.18248, 78.925008, 67.131616, 74.84268, 72.121128, 87.089664,
       82.100152, 63.049288, 69.853168, 71.213944, 73.935496, '98', '103',
       '99', '102', '56', '101', '57', '55', '104', '107', '110', '53',
       '50', '54', '52'], dtype=object)

In [24]:
df['Height'].unique()

array([170.  , 187.  , 188.  , 181.  , 175.  , 184.  , 191.  , 178.  ,
       193.  , 185.  , 199.  , 173.  , 168.  , 176.  , 177.  , 183.  ,
       180.  , 189.  , 179.  , 195.  , 172.  , 182.  , 186.  , 192.  ,
       165.  , 194.  , 167.  , 196.  , 163.  , 190.  , 174.  , 169.  ,
       171.  , 197.  , 200.  , 166.  , 187.96, 164.  , 198.  , 190.5 ,
       195.58, 180.34, 193.04, 185.42, 182.88, 177.8 , 175.26, 167.64,
       170.18, 162.56, 201.  , 158.  , 162.  , 161.  , 160.  , 203.  ,
       157.  , 156.  , 202.  , 159.  , 206.  , 155.  ])

In [26]:
# Fixing the star in W/F,SM,IR
df["W/F"] = df["W/F"].astype(str).str.replace("★", "").astype(int)
df["SM"] = df["SM"].astype(str).str.replace("★", "").astype(int)
df["IR"] = df["IR"].astype(str).str.replace("★", "").astype(int)

In [28]:
## Fixing the club data that contain new line returns
df["Club"] = df["Club"].astype(str).str.replace("\n", "")

In [30]:
#Creating a single function for replacing values
def convertValue(value):
    if isinstance(value, str):  
        value = value.strip().lower().replace('€', '')  
        if 'm' in value:
            value = float(value.replace('m', '').strip()) * 1000000  
        elif 'k' in value:
            value = float(value.replace('k', '').strip()) * 1000  
        else:
            value = float(value)  
        return int(value)

In [32]:
df['Value'] = df['Value'].apply(convertValue)
df['Wage'] = df['Wage'].apply(convertValue)
df['Release Clause'] = df['Release Clause'].apply(convertValue)
df['Hits'] = df['Hits'].apply(convertValue)

In [34]:
# Converting all to ints
df["Hits"] = pd.to_numeric(df["Hits"], errors="coerce").fillna(0).astype(int)
df['SM'] = pd.to_numeric(df["Hits"], errors="coerce").astype(int) 
df['A/W']= pd.to_numeric(df["Hits"], errors="coerce").astype(int)
df['D/W']= pd.to_numeric(df["Hits"], errors="coerce").astype(int)
df['I/R']= pd.to_numeric(df["Hits"], errors="coerce").astype(int)
df['Release Wage']=pd.to_numeric(df["Hits"], errors="coerce").astype(int)
df['Value']=pd.to_numeric(df["Hits"], errors="coerce").astype(int)
df['Wage']=pd.to_numeric(df["Hits"], errors="coerce").astype(int)
df['Release Clause']=pd.to_numeric(df["Hits"], errors="coerce").astype(int)

In [36]:
# Split the contract column to start and end columns
# Maybe calculate the years the contract is

def contractLengthCalc():
    length = int(len(df.index))
    for i in range(0,length ):
        value = str(df.loc[i, 'Contract'].strip())
        condtionalCheck = str(df.loc[i,'Contract'][0]).strip().isdigit()
        if condtionalCheck:
            dateList = value.split("~")
            startDate = int(dateList[0])
            endDate = int(dateList[1])
            df.loc[i, 'Contract_Length'] = endDate - startDate
        else:
            df.loc[i, 'Contract_Length'] = -1
            
contractLengthCalc()




# Convert prefered foot to 1 or 2, left or right
# Left foot is a zero....right foot will be zero
df['Preferred Foot'].replace({'Left': 0, 'Right': 1})

/var/folders/r5/2dww6ljn1hq0shfh_ypkkhth0000gn/T/ipykernel_27340/1074716353.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Preferred Foot'].replace({'Left': 0, 'Right': 1})

0        0
1        1
2        1
3        1
4        1
        ..
18974    1
18975    1
18976    1
18977    1
18978    0
Name: Preferred Foot, Length: 18979, dtype: int64

In [42]:
df.to_csv('cleaned_data.csv', index=False)